{{ asset_add("styles.css", "anomaly.extension.section_block::scss/block.scss") }}

<div class="section__container">
    <div class="section">
        <div class="section__content section__justify_content--{{ block.justify_content.key }}">
            {{ block.content.render()|raw }}
        </div>
    </div>
</div>
