$gutter: 15px;
$breakpoints: (
        768px: 720px,
        992px: 940px,
        1200px: 1140px
);

.block--section_block {

    .section {
        margin: auto;
    }

    .section__container {
        margin: auto;
    }

    /**
     * Section Sizes
     */
    &.section_block--standard {

        .section {
            padding-left: $gutter;
            padding-right: $gutter;
        }

        .section,
        .section__container {
            max-width: 100%;
        }

        @each $breakpoint, $container in $breakpoints {
            @media (min-width: $breakpoint) {
                .section,
                .section__container {
                    max-width: $container;
                }
            }
        }
    }

    &.section_block--full_width {

        .section {
            padding-left: $gutter;
            padding-right: $gutter;
        }

        .section,
        .section__container {
            max-width: 100%;
        }

        @each $breakpoint, $container in $breakpoints {
            @media (min-width: $breakpoint) {
                .section {
                    max-width: $container + ($gutter * 2);
                }
            }
        }
    }

    &.section_block--stretched {

        .section {
            padding-left: $gutter;
            padding-right: $gutter;
        }

        .section,
        .section__container {
            max-width: 100%;
        }
    }

    /**
     * Content Alignment
     */
    [class*="section__justify_content--"] {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$gutter;
        margin-right: -$gutter;
    }

    .section__justify_content--left {
        justify-content: left;
    }

    .section__justify_content--center {
        justify-content: center;
    }

    .section__justify_content--right {
        justify-content: right;
    }

    .section__justify_content--space_between {
        justify-content: space-between;
    }

    .section__justify_content--space_around {
        justify-content: space-around;
    }

    .section__alignment--space_evenly {
        justify-content: space-evenly;
    }
}
