$gutter: 15px;
$breakpoints: (
        768px: 720px,
        992px: 940px,
        1200px: 1140px
);

.block--section_block {

    .section {
        margin: auto;
    }

    .section__container {
        margin: auto;
        background: red;
    }

    /**
     * Section Sizes
     */
    &.section_block--standard {

        .section {
            padding-left: $gutter;
            padding-right: $gutter;
        }

        .section,
        .section__container {
            max-width: 100%;
        }

        @each $breakpoint, $container in $breakpoints {
            @media (min-width: $breakpoint) {
                .section,
                .section__container {
                    padding-left: 0;
                    padding-right: 0;
                    max-width: $container;
                }
            }
        }
    }

    &.section_block--full_width {

        .section {
            padding-left: $gutter;
            padding-right: $gutter;
        }

        .section,
        .section__container {
            max-width: 100%;
        }

        @each $breakpoint, $container in $breakpoints {
            @media (min-width: $breakpoint) {
                .section {
                    max-width: $container + ($gutter * 2);
                }
            }
        }
    }

    &.section_block--stretched {

        .section {
            padding-left: $gutter;
            padding-right: $gutter;
        }

        .section,
        .section__container {
            max-width: 100%;
        }
    }
}
